/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Header */
h1 {
    color: #4CAF50;
    text-align: center;
}

/* Search bar  */
.search-bar {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
}

.search-bar input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    padding: 8px;
    width: 200px;
    box-sizing: border-box;
    margin-right: -1px; /* Remove gap between text input and button */
}

.search-bar input[type="submit"] {
    border: 1px solid #ddd;
    border-radius: 0 4px 4px 0;
    background: #4CAF50;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
}

.search-bar input[type="submit"]:hover {
    background: #45a049;
}

/* Form styling for adding notes */
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    background: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background: #45a049;
}

/* Results */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
